name: image_picker_plus_for_web_integration_tests
publish_to: none

environment:
  sdk: ^3.8.0
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker_plus_for_web:
    path: ../
  image_picker_plus_platform_interface: ^0.0.3
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
